{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h4>Règles du jeu</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{{ path('home') }}" class="btn btn-secondary">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
