<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Qui suis-je ?{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('dist/css/app.css') }}" />
        {% endblock %}
    </head>
    <body class="h-100">
        {% block body %}{% endblock %}
        {% include "flash-message.html.twig" %}
        {% block javascripts %}
            <script src="{{ asset('dist/js/jquery.min.js') }}"></script>
            <script src="{{ asset('dist/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('dist/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
